.DS_Store
npm-debug.log

node_modules/
dist/
*/dist/*
build/dist/
*/build/dist/*
release/*
*/release/*
release-mac/
*/release-mac/*
release-win/
*/release-win/*
release-linux/
*/release-linux/*

*.orig
.vscode

template.yml
template.yaml

.env

*.tfvars.json
*.tfvars